:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

/* Task 1 */
.timer {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.timer .field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timer .value {
  font-weight: 500;
  font-size: 24px;
}

.timer .label {
  text-transform: uppercase;
}

/* Task 2 */
.form  {
  width: max-content;
}

.form > label {
  display: flex;
  flex-direction: column;
}

.form button {
  width: 100%;
}

.form  input {
  padding: 12px;
  font-size: 16px;
}
